.listBar{
    width: 30%;
    height: 100%;
    float: left;
    box-shadow: 7px 0px 7px -2px black;
}
.mainBar{
    width: 70%;
    height: 100%;
    float: left;
    background-color: rgba(240, 248, 255, 0.171);
    overflow-y: scroll;
}
.student{
    background-color: rgba(240, 248, 255, 0.171);
    width: 60%;
    margin: 5% auto;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}
.student:hover{
    background-color: rgba(240, 248, 255, 0.938); 
    box-shadow: 0 0 10px black;
}
table{
    margin: 3% auto;
    font-size: 1.5vw;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
    width: 90%;
}
table td, th{
    border: 2px solid black;
}
table tr{
    height: 7vh;
}
